@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #3cb371;
  --color-primary-dark: #2e8b57;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
